@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav ol {
  list-style-type: none;
  padding: 0%;
}

nav a {
  text-decoration: none;
  color: #0066FF;
  display: block;
}

a:hover {
    background-color: #0066FF;
    color: #fff;
}

h1 {
  text-align: center;
}

img {
  width: 100%;
}

body {
  margin: 0%;
}

header {
  background-color: #ccc;
}

h3 {
  margin: 0%;
}

.moons {
  background-color: #eee;
  text-align: center;
}

.deck {
  background-color: #eee;
  text-align: center;
}

.deck p {
  margin: 0;
}

.bucket {
  background-color: #eee;
}

footer {
  background-color: #ddd;
}


@media only screen and (min-width: 25em) {

nav li {
  display: inline;
}

nav a {
  display: inline;
}
}

@media only screen and (min-width: 38em) {

h1 {
  text-align: left;
}

.h1 {
  margin: 0%;
}

h3 {
  text-align: left;
}
}
